* {
  color: #fff;
  font-family: Open Sans, sans-serif;

}
h1 {
  text-align: center;
}
body {
  background-color: #282c34;
}
.commands__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.commands__title {
  font-size: 36px;
  text-align: center;
}
.commands p {
  width: 300px;
  text-align: center;
  margin-right: 50px;
  font-size: 24px;
}
.image {
  text-align: center;
  margin-top: 50px;
}
.image p {
  font-size: 36px;
}
